<html>
    <head>
        <meta charset="utf-8">
        <title>todoapp</title>
    </head>
    <body>
        <h1>todoapp</h1>
        <%= @message %>
        <% @todo.each do |todo| %>
            <h3><%= todo.id %>.<%= todo.todo %></h3>
            <form action="/todos/<%= todo.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="削除">
            </form>
            <form action="/todos/<%= todo.id %>/done" method="post">
                <input type="hidden" name="_method" value="PUT">
                <input type="submit" value="完了">
            </form>
            <a href="/todos/<%= todo.id %>/edit">タスクを変更する</a></br>
        <% end %>
        <h3><a href="todo_new">新しくタスクを登録する</a></h3>
    </body>
</html>